# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*

pagosEnLineaApp/.idea/
pagosEnLineaApp/.vscode/
pagosEnLineaApp/.ionic/
pagosEnLineaApp/.sourcemaps/
pagosEnLineaApp/.sass-cache/
pagosEnLineaApp/.versions/
pagosEnLineaApp/coverage/
pagosEnLineaApp/collection/
pagosEnLineaApp/dist/
pagosEnLineaApp/node_modules/
pagosEnLineaApp/tmp/
pagosEnLineaApp/.tmp/
pagosEnLineaApp/temp/
pagosEnLineaApp/core/theme-builder/
pagosEnLineaApp/core/test-components/
pagosEnLineaApp/core/css/
pagosEnLineaApp/angular/css/
pagosEnLineaApp/platforms/
pagosEnLineaApp/plugins/
pagosEnLineaApp/plugins/android.json
pagosEnLineaApp/plugins/ios.json
pagosEnLineaApp/www/
pagosEnLineaApp/$RECYCLE.BIN/

pagosEnLineaApp/.DS_Store
pagosEnLineaApp/Thumbs.db
pagosEnLineaApp/UserInterfaceState.xcuserstate
pagosEnLineaApp/.env

pagosEnLineaApp/.package.tmp.json

pagosEnLineaApp/src/themes/version.scss
pagosEnLineaApp/scripts/e2e/webpackEntryPoints.json
pagosEnLineaApp/scripts/build/e2e-generated-tsconfig.json
pagosEnLineaApp/*.css.ts

pagosEnLineaApp/stats.json

# demo stuff
pagosEnLineaApp/demos/node_modules
pagosEnLineaApp/demos/polyfills
pagosEnLineaApp/demos/css
pagosEnLineaApp/demos/fonts
pagosEnLineaApp/demos/src/**/*.js
pagosEnLineaApp/demos/src/**/*.map
pagosEnLineaApp/demos/src/**/*.ngfactory.ts
pagosEnLineaApp/demos/src/**/*.d.ts
pagosEnLineaApp/demos/src/**/*.metadata.json
pagosEnLineaApp/demos/src/**/*.css.shim.ts



# stencil
pagosEnLineaApp/angular/css/
pagosEnLineaApp/core/css/
pagosEnLineaApp/core/loader/
pagosEnLineaApp/.stencil/