Django==2.0.7
phonenumbers==8.10.2
psycopg2
psycopg2-binary
django-betterforms
django-tastypie==0.14.2
django-phonenumber-field
django-celery==3.2.2
celery==4.2.1
django-celery-email
django-heroku
gunicorn
dj-database-url
django-password-reset
anyjson
kombu
amqp
gevent