<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Cartera de Tarjetas
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
      <ion-col col-12>
          <ion-list>
              <ion-item *ngFor="let card of cards" (click)="itemTapped($event, card)">
                  <ion-radio value="go" item-start></ion-radio>
                  
                   <ion-label>
                    <ion-img width="40" src="../../assets/imgs/{{card.type}}.png"></ion-img>
                    {{card.number}}<br>
                    {{card.holder_name}}<br>
                    {{card.expiry_month}}/{{card.expiry_year}}
                </ion-label>
                <ion-icon ios="ios-create-outline" md="md-create" item-end></ion-icon>
                  <ion-icon  ios="ios-trash-outline" md="md-trash" item-end></ion-icon>

              </ion-item>
            
        
              <label ion-item *ngIf="cards.length === 0" >
                  <ion-avatar item-start>
                      <img src="../../assets/imgs/card.png">
                    </ion-avatar>
                    <h2></h2>
                    <p>No existen tarjetas seleccionadas</p>
              </label> 
            </ion-list> 
      </ion-col>
      <ion-col class="flexcontainer">
        <button center ion-fab mini color="light"><ion-icon name="add"></ion-icon></button>
      </ion-col>
    </ion-row>
    </ion-grid>
   
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title}}</b>
    </div>
  </ion-content>
