<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Carrito
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-item *ngFor="let c of productos">
    <div class="row">

      <div class="col-2">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
        </div>
      </div>

      <div class="col">
        <h2>Nombre: {{ c.nombre }} </h2>
        <h2>Cantidad: {{ c.detalle }} </h2>
        <h2>Precio: ${{ c.precio }} </h2>
      </div>

      <div class="col-2">
        <button type="button" [attr.data-target]="c.idP" class="btn btn-danger" (click)="eliminarProducto(idP)" data-toggle="tooltip" data-placement="top" title="Borrar">Eliminar</button>
      </div>


    </div>
    
  </ion-item>


<ion-item *ngFor="let c of productos">
  <ion-card id="carrito-card21">
    <ion-list>
      <ion-item color="none" id="carrito-list-item15">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
          Producto
        </h2>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <form id="carrito-form8">
        <ion-item id="carrito-checkbox1">
          <ion-label>
            {{ c.nombre }}
          </ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <div id="carrito-markdown14" class="show-list-numbers-and-dots">
          <p style="color:#000000;">
            Cantidad
          </p>
        </div>
        <ion-item id="carrito-input7">
          <ion-label>
            Cantidad:
          </ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-item id="carrito-input8">
          <ion-label>
            Precio: {{ c.precio }}
          </ion-label>
          <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

      </form>
    </ion-list>
  </ion-card>
</ion-item>

  <ion-card id="carrito-card22">
    <ion-list>
      <h1 id="carrito-heading2" style="color:#000000;">
        Total:
      </h1>
      <button id="carrito-button6" ion-button color="positive" block>
        Continuar
      </button>
    </ion-list>
  </ion-card>

  
</ion-content>
